<!DOCTYPE html>
<html>
<head>
    <title>生产订单查询</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
    <script src="../../plugins/layui/layui.js"></script>
</head>
<body>
<form class="layui-form layui-form-pane" action="" style="margin-top:20px;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厂：</label>
            <div class="layui-input-block">
                <select name="interest" lay-filter="aihao">
                    <option value="0">一工厂</option>
                    <option value="1" selected="">三工厂</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间：</label>
            <div class="layui-input-block">
                <select name="interest" lay-filter="aihao">
                    <option value="0"></option>
                </select>
            </div>
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">生&nbsp;&nbsp;产&nbsp;&nbsp;线：</label>
            <div class="layui-input-block">
                <select name="interest" lay-filter="aihao">
                    <option value="0">H5总装</option>
                    <option value="1" selected="">H5机加</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：</label>
            <div class="layui-input-block">
                <select name="interest" lay-filter="aihao">
                    <option value="0">H5总装</option>
                    <option value="1" selected="">H5机加</option>
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">产品型号：</label>
            <div class="layui-input-inline">
                <input type="text" name="text12" id="text12" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">工单编号：</label>
            <div class="layui-input-inline">
                <input type="text" name="text12" id="text2" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn layui-btn-normal" type="button"><i class="layui-icon">&#xe615;</i>搜索</button>
            <button class="layui-btn layui-btn-normal" type="button"><i class="layui-icon">&#xe601;</i>导出</button>
            <button id="addproduct" class="layui-btn layui-btn-normal">
                <i class="layui-icon">&#xe61f;</i>导入生产计划
            </button>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始日期：</label>
            <div class="layui-input-inline">
                <input type="text" name="date" id="date" value="2017-12-20 11:17:36" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">截止时间：</label>
            <div class="layui-input-inline">
                <input type="text" name="date" id="Text1" value="2017-12-20 11:17:36" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn layui-btn-normal" type="button"><i class="layui-icon">&#x1002;</i>刷新</button>
            <button id="addTempList" class="layui-btn layui-btn-normal">
                <i class="layui-icon">&#xe61f;</i>新增临时工单
            </button>
        </div>
    </div>
</form>
<table class="layui-table" lay-data="{url:'../../datas/produceOrder.json',page:true,id:'idTest'}"
       lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{type:'checkbox', width:'3%', fixed: 'left'}"></th>
        <th lay-data="{field:'value1', width:'10%', sort: true, fixed: true}">工单编号</th>
        <th lay-data="{field:'value2', width:'10%', sort: true}">产品型号</th>
        <th lay-data="{field:'value3', width:'10%', sort: true}">起始编码</th>
        <th lay-data="{field:'value4', width:'10%', sort: true}">结束编码</th>
        <th lay-data="{field:'value5', width:'5%'}">计划数量</th>
        <th lay-data="{field:'value6', width:'10%', sort: true}">计划时间</th>
        <th lay-data="{field:'value7', width:'10%', sort: true}">实际开始时间</th>
        <th lay-data="{field:'value8', width:'5%'}">上线数量</th>
        <th lay-data="{field:'value9', width:'5%'}">下线数量</th>
        <th lay-data="{field:'value10', width:'5%', sort: true}">状态</th>
        <th lay-data="{field:'value11', width:'5%', sort: true}">是否临时工单</th>
        <th lay-data="{fixed: 'right', width:'30%', align:'center', toolbar: '#barDemo'}">操作</th>
    </tr>
    </thead>
</table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal">拆分</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal">排序</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal">调整</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal">暂停</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal">取消</a>
</script>
<script>
    layui.use(['laypage', 'form', 'laydate', 'layer', 'table', 'element'], function () {
        var laypage = layui.laypage;
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        var form = layui.form;
        var laydate = layui.laydate;
        var table = layui.table;
        var $ = layui.jquery;
        var layer = layui.layer;

        //触发事件
        $('#addTempList').on('click', function () {
            parent.layer.open({
                /*type: 2,
                title: "新增临时工单",
                shadeClose: true,
                shade: 0.1,
                area: ['35%', '60%'],
                content: '/template/productdata/addTempList.html',
                btn: ['添加', '关闭'],
                yes: function () {
                    $(that).click();
                },
                btn2: function () {
                    layer.closeAll();
                },*/
                type: 2,
                title: '新增临时工单',
                shadeClose: true,
                shade: 0.3,
                area: ['35%', '70%'],
                content: '/template/productdata/addTempList.html'
            });
        });

        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });

        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });

        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            , getCheckLength: function () { //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    , data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
            }
            , isAll: function () { //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选' : '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            layer.msg("23234");

            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //日期
        laydate.render({
            elem: '#test1'
        });
        laydate.render({
            elem: '#test2'
        });


        //监听提交
        form.on('submit(demo1)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });
        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
        //分页
        laypage.render({
            elem: 'pagination'
            , count: 100
            , layout: ['prev', 'page', 'next', 'limit', 'skip', 'count']
            , jump: function (obj) {
                console.log(obj)
            }
        });
    });
</script>
</body>
</html>
