<!DOCTYPE html>
<html>
<head>
    <title>质量缺陷面管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
    <script src="../../plugins/layui/layui.js"></script>
</head>
<body>
<div class="container">
    <div class="layui-form layui-form-pane">
        <div class="layui-col-md12">
            <div class="layui-input-inline">
                <label class="layui-form-label">工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厂：</label>
                <div class="layui-input-block">
                    <select name="">
                        <option value="">NE1发动机工厂</option>
                    </select>
                </div>
            </div>
            <div class="layui-input-inline">
                <label class="layui-form-label">车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间：</label>
                <div class="layui-input-block">
                    <select name="">
                        <option value="">机总八</option>
                    </select>
                </div>
            </div>
            <div class="layui-input-inline">
                <label class="layui-form-label">生产线：</label>
                <div class="layui-input-block">
                    <select name="">
                        <option value="">NE1总装生产线</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button class="layui-btn layui-btn-normal" id="addQualityDefectAspect">
                        <i class="layui-icon">&#xe61f;</i>新增缺陷面
                    </button>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button class="layui-btn layui-btn-normal" type="button"><i class="layui-icon"></i>查询</button>
                </div>
            </div>
            <div class="layui-col-md12">
                <table class="layui-table"
                       lay-data="{url:'../../datas/qualityDefectAspect.json', page:true, id:'idTest'}"
                       lay-filter="demo">
                    <thead>
                    <tr>
                        <th lay-data="{field:'value1', sort: true, fixed: true}">工厂名称</th>
                        <th lay-data="{field:'value2', sort: true, fixed: true}">车间名称</th>
                        <th lay-data="{field:'value3', sort: true, fixed: true}">生产线名称</th>
                        <th lay-data="{field:'value4', sort: true, fixed: true}">缺陷面</th>
                        <th lay-data="{field:'value8', sort: true, fixed: true}">点位</th>

                        <th lay-data="{fixed: 'right', width:'15%', align:'center', toolbar: '#barDemo'}">缺陷图片</th>
                        <th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo2'}">操作</th>
                    </tr>
                    </thead>
                </table>

                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="look">查看图片</a>
                </script>

                <script type="text/html" id="barDemo2">
                    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>

                <div id="picdiv" style="display: none"><img id="showpic" src=""></div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['element', 'table'], function () {
        var element = layui.element;
        var table = layui.table;

        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });

        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                parent.layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))

            } else if (obj.event === 'look') {
                $('#showpic').attr("src", data.value5).attr("style", "height:200px;width:300px;");
                layer.open({
                    type: 1,
                    title: false,
                    closeBtn: 0,
                    area: '300px',
                    skin: 'layui-layer-nobg', //没有背景色
                    shadeClose: true,
                    content: $('#picdiv')
                });
            }
        });

        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            , getCheckLength: function () { //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    , data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
            }
            , isAll: function () { //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选' : '未全选')
            }
        };

        $('#addQualityDefectAspect').on('click', function (obj) {
            parent.layer.open({
                type: 2,
                title: '新增缺陷面',
                shadeClose: true,
                shade: 0.1,
                area: ['35%', '70%'],
                content: '/template/basedata/add/addQualityDefectAspect.html'
            });
        });

        $('#refresh').on('click', function (obj) {
            //do refresh on  your way
            location.reload();
        });
    });
</script>
</body>
</html>
