<!DOCTYPE html>
<html>
<head>
    <title>铸造设备报表2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
    <script src="../../plugins/layui/layui.js"></script>
    <script src="../../media/js/echarts.js"></script>
    <script src="../../media/js/jquery-1.10.1.min.js"></script>
</head>
<body>
<div class="layui-form layui-form-pane">
    <br>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">车间：</label>
            <div class="layui-input-inline">
                <select name="">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">生产线：</label>
            <div class="layui-input-inline">
                <select name="">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">设备名称：</label>
            <div class="layui-input-inline">
                <select name="">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">数据名称：</label>
            <div class="layui-input-inline">
                <input type="text" name="" value="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">上限：</label>
            <div class="layui-input-inline">
                <input type="text" name="" value="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">下限：</label>
            <div class="layui-input-inline">
                <input type="text" name="" value="" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始日期：</label>
            <div class="layui-input-inline">
                <input type="text" name="date" id="date3" value="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">截止日期：</label>
            <div class="layui-input-inline">
                <input type="text" name="date1" id="date4" value="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn layui-btn-normal" type="button"><i class="layui-icon"></i>查询</button>
        </div>
    </div>
    <br>
</div>
<div>
    <table class="layui-hide" id="test2" lay-filter="test"></table>
</div>
<div id="echart2" style="height: 500px; width: 80%;"></div>

</body>
<script>
    layui.use(['element', 'table', 'laydate', 'laypage'], function () {
        var element = layui.element;
        var table = layui.table;
        var laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
        laydate.render({
            elem: '#date3'
        });
        laydate.render({
            elem: '#date4'
        });
        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });

        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                parent.layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                parent.layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                parent.layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });
        table.render({
            elem: "#test2"
            , id: 'ftt-table-id'
            , url: '../../datas/reportData/makedequipment2.json'
            , cols: [[
                {field: 'value1', width: 80, title: '序号', event: ''}
                , {field: 'value2',  title: '车间', event: ''}
                , {field: 'value3',  title: '生产线', event: ''}
                , {field: 'value4',  title: '设备名称', event: ''}
                , {field: 'value5',  width: 160,title: '时间', event: ''}
                , {field: 'value9',  title: '数据名称', event: ''}
                , {field: 'value6',  title: '数据值', event: ''}
                , {field: 'value7',   title: '上限', event: ''}
                , {field: 'value8',   title: '下限', event: ''}

            ]]
        });

    });
</script>
<script>

    var Myechart2 = echarts.init(document.getElementById("echart2"));
    option2 = {
        title: {
            text: '设备数据曲线趋势图',
            x: 'center',
            top: '20'
        },
        color: ['black', 'black', 'blue', 'orange', 'red', '#d1d1d1'],
        legend: {
            top: 50,
            data: ['上限', '下限','模具温度1', '模具温度2', '模具温度3' ]
            /*orient: 'vertical',
            right: 0*/
        },
        grid: {
            left: '6%',
            right: '10%',
            top: '20%',
            containLabel: true
        },
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            type: 'category',
            axisLabel: {
                interval: 0,//横轴信息全部显示
                rotate: 30,//-30度角倾斜显示
            },
            data: ['2018/5/6 12:00:00', '2018/5/7 12:00:00', '2018/5/8 12:00:00', '2018/5/9 12:00:00', '2018/5/10 12:00:00', '2018/5/11 12:00:00', '2018/5/12 12:00:00', '2018/5/13 12:00:00', '2018/5/14 12:00:00', '2018/5/15 12:00:00', '2018/5/16 12:00:00', '2018/5/17 12:00:00']
        },
        yAxis: {
            type: 'value',
            interval: 5,
            min: 765,
            max: 730

        },
        series: [{
            name: '上限',
            type: 'line',
            barWidth: 30,
            label: {
                normal: {
                    show: true,
                    position: 'top'
                }
            },
            data: [760, 760, 760, 760, 760, 760, 760, 760, 760, 760]
        },
            {
                name: '下限',
                type: 'line',
                barWidth: 30,
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                data: [740, 740, 740, 740, 740, 740, 740, 740, 740, 740]
            }, {
                name: '模具温度1',
                type: 'line',
                barWidth: 30,
                smooth: true,
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                data: [734,738, 741,750 ,756, 750,747,750 ,752]
            }, {
                name: '模具温度2',
                type: 'line',
                barWidth: 30,
                smooth: true,
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                data: [743,750, 752,751 ,751,735, 735, 735,735]
            }, {
                name: '模具温度3',
                type: 'line',
                barWidth: 30,
                smooth: true,
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                data: [736,734, 733,740 ,747,740 ,737,740 ,741]
            }]
    };
    Myechart2.setOption(option2);

</script>
</body>
</html>
