<!DOCTYPE html>
<html>
<head>
    <title>工料废录入</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../../plugins/layui/css/layui.css" media="all">
    <script src="../../../plugins/layui/layui.js"></script>
</head>
<body>
<div class="container">
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">零部件号:</label>
            <div class="layui-input-block">
                <input type="number" name="value4" lay-verify="" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">零部件名称:</label>
            <div class="layui-input-block">
                <input type="number" name="value4" lay-verify="" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">报废数量:</label>
            <div class="layui-input-block">
                <input type="text" name="value3" lay-verify="" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">供应商名称:</label>
            <div class="layui-input-block">
                <input type="number" name="value4" lay-verify="" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">故障描述:</label>
            <div class="layui-input-block">
                <input type="number" name="value4" lay-verify="" autocomplete="off" placeholder=""
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">生产线:</label>
            <div class="layui-input-block">
                <select name="value1" lay-filter="">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类别:</label>
            <div class="layui-input-block">
                <select name="value2" lay-filter="">
                    <option value=""></option>
                </select>
            </div>
        </div>




        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-danger">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer;

        //自定义验证规则
        form.verify({
            addLength: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息',
                shade: 0
            })
            return false;
        });
    });
</script>
</body>
</html>